body{
                background-color:#faf7f2;
                background-image: url('Lion2-1140x694.webp');
                background-size: cover;
       padding: 50px;
            }
#contact-us{
                text-align: center;
                color: #333;
                margin-bottom: 20px;
            }
            .arrange{
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
                margin: auto;
                justify-content: space-between;
                max-width: 1200px;
                align-items: flex-start;
            }
            .address{
                background-color: rgba(255, 255, 255, 0.8);
                padding: 20px;
                margin: 40px auto;
                max-width: 300px;
                border-radius: 8px;
                gap: 50px;
            }
            .form-row input, .form-row textarea{
                width: auto;
                padding: 10px;
                margin-bottom: 20px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
            
            button{
                background-color: #4CAF50;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }